# Dependencies
node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build output
dist/
build/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
